.spotify-logo--text{
    height: 60px;
    max-width: 131px;
    width: 100%;
    color: #fff;
    position: relative;
}

.card{
    background-color: black;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
